    <%- include("partials/header.ejs") %>

    <div class="main-page">
        <h1>Add New Post</h1>
        <form action="/" method="POST">
            <input type="text" placeholder="post head" name="pHead">
            <input type="text" placeholder="post body" name="pBody">
            <input type="submit" value="Add">
        </form>
    </div>
</div>
</body>
</html>