    <%- include("partials/header.ejs") %>

    <div class="page">
        <h1 class="page-title">Add New Post</h1>

        <form action="/" method="POST" class="page-body">
            <label>Post Title:</label>
            <input type="text" name="pHead" class="page-body-item">
            <label>Post Body:</label>
            <textarea class="page-body-item post-body" name="pBody"></textarea>
            <input class="page-body-item page-button" type="submit" value="Add">
        </form>
    </div>
</div>
</body>
</html>