    <%- include("partials/header.ejs") %>
    <div class="main-page">
    <h1>Edit Post</h1>
    <form action="/afterEdit" method="POST">
        <input type="hidden" name="pIndex" value="<%= pIndex %>">
        <input type="text" name="pHead" value="<%= posts[pIndex]["pHead"] %>">
        <input type="text" name="pBody" value="<%= posts[pIndex]["pBody"] %>">
        <input type="submit" value="edit">
    </form>
</div>
</body>
</html>